name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-backend:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        os: [ubuntu-latest]
        #os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          version: "latest"

      - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
        run: uv python install {% raw %}${{ matrix.python-version }}{% endraw %}

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Run pipeline
        run: just run
